@import '../../../app-variables';
@import '../../../bootstrap-variables';

.footer {
  margin-top: $marginTop;
  height: $footerSize;
  color: $white;
  background-color: $primary;
  text-align: center;
}
