@import '../../../app-variables';
@import '../../../bootstrap-variables';

.footer {
  margin-top: $marginTop;
  height: $footerSize;
  color: $black;
  background-color: $light-blue;
  text-align: center;
}

.link-content {
  a {
    color: $black;
  }
}
