@import '../../app-variables';
@import '../../bootstrap-variables';

.checkbox-label {
  margin-left: 0.5em;
}

.shelter-details {
  padding-left: 2em;
  padding-top: 1em;
}

.alternate-name {
  display: inline-block;
  margin-left: 0.5em;
}

.shelter-details .card-title {
  font-size: 1.25rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.15rem;
  margin-bottom: 0;
  background-color: $gray-card-bg;
  padding: 0.25rem;
}

.shelter-details .card {
  border: 0;
}

.shelter-card-expanded .section {
  margin-bottom: 1rem;
}

.shelter-row a:hover {
  cursor: pointer;
}

.nav-link {
  cursor: pointer;
}

.nav-tabs .nav-link,
.nav-tabs .nav-link.disabled,
.nav-tabs .nav-link.disabled:hover,
.nav-tabs .nav-link.disabled:focus {
  margin-top: 5px;
}

.missing-loc {
  box-shadow: inset 0 0 5px red;
}

.nav-link.active.missing-loc {
  box-shadow: none;
}
