// General layout
$paddingTop: 80px;
$footerSize: 50px;
$marginTop: 15px;

/*
* Bootstrap overrides https://v4-alpha.getbootstrap.com/getting-started/options/
* All values defined in bootstrap source
* https://github.com/twbs/bootstrap/blob/v4-dev/scss/_variables.scss can be overwritten here
* Make sure not to add !default to values here
*/

// Override default app colors
$yellow: rgb(130, 180, 255) !default;
$green: rgb(94, 204, 97) !default;
$body-bg: rgb(255, 255, 255);

// Options:
// Quickly modify global styling by enabling or disabling optional features.
$enable-rounded: true;
$enable-shadows: false;
$enable-gradients: false;
$enable-transitions: true;
$enable-hover-media-query: false;
$enable-grid-classes: true;
$enable-print-styles: true;

// Components:
// Define common padding and border radius sizes and more.

$border-radius: 0.15rem;
$border-radius-lg: 0.125rem;
$border-radius-sm: 0.1rem;

// Cards
$blue-card-text: rgb(102, 196, 255);
$gray-card-bg: rgb(240, 240, 240);
$gray-card-timestamp: rgb(109, 108, 108);

// Compare section
$compare-header-bg: rgb(198, 233, 255);
$compare-content-bg: $body-bg;
$compare-border: rgb(109, 108, 108);
