@import 'app-variables';

.break {
  white-space: normal;
  word-break: break-all;
}

.break-word {
  white-space: normal;
  word-break: keep-all;
}

.app-container {
  padding-top: $paddingTop;
}

#app-view-container {
  min-height: calc(100vh - #{$footerSize} - #{$paddingTop} - #{$marginTop});
}
