@import '../../../app-variables';
@import '../../../bootstrap-variables';

.title {
  margin-top: 15px;
}

.blueBorder {
  border-color: $blue-card-text;
  border-width: 3px;
}

.icon {
  color: $blue-card-text;
}

.icon-text {
  margin-top: 8px;
  margin-left: -45px;
  position: relative;
}

.icon-textarea {
  margin-top: 8px;
  margin-left: -55px;
  position: relative;
}

.icon-checkbox {
  margin-left: 5px;
}

.tooltip-inner {
  color: $tooltip-text-secondary;
  background-color: $tooltip-bg;
  box-shadow: 2px 2px 2px $tooltip-text-secondary;
}

.tooltip {
  margin-left: -10px;
}

.half-rule {
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: $tooltip-text-secondary;
}

.suggested {
  color: $tooltip-text-primary;
  text-align: left;
}

.secondary {
  color: $tooltip-text-secondary;
  margin: 0;
}

.jumbotron {
  margin-top: 15px;
  padding: 0;
  background-color: transparent;
  border: 0;
}

.jumbotron-header {
  padding: 10px;
  margin: 0;
  background-color: $compare-header-bg;
  border: 1px $compare-border solid;
  border-bottom: 0;
}

.jumbotron-content {
  padding: 10px;
  margin: 0;
  background-color: $compare-content-bg;
  border: 1px $compare-border solid;
}

.jumbotron-header-title {
  color: rgb(109, 108, 108); //secondary
}

.jumbotron-header-text {
  margin: 0;
}

.review-title {
  margin-bottom: 0;
}
