@import '../../app-variables';
@import '../../bootstrap-variables';

.filepond--panel-root {
  background-color: transparent;
}

.dropArea {
  border: 3px dashed;
  border-color: $primary;
  border-radius: 10px;
}
