@import '../../app-variables';
@import '../../bootstrap-variables';

.go-back-button {
  max-width: 100px;
  margin: 0 20px 10px 20px;
  cursor: pointer;
  font-size: 20px;
  color: $gray-600;
  &:hover {
    color: $gray-900;
  }
}
