@import '../../app-variables';
@import '../../bootstrap-variables';

.close-icon {
  position: absolute;
  right: 0;
  height: 30px;
  width: 30px;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0.15rem 0 0.15rem;
  color: $gray-500;
  &:hover {
    color: $gray-600;
    background-color: $gray-400;
    cursor: pointer;
  }
}
