@import '../../../app-variables';
@import '../../../bootstrap-variables';

.same-record-question {
  text-align: center;
}

.same-record-question-container {
  padding: 20px;
  background-color: rgb(155, 176, 214);
  border-radius: $border-radius;
}

.from {
  color: $gray-card-accent;
  margin-bottom: 30px;
}

.icon-excluded {
  color: $gray-card-accent;
}

.icon-text {
  margin-top: 8px;
  margin-left: -45px;
  position: relative;
}

.icon-textarea {
  margin-top: 8px;
  margin-left: -55px;
  position: relative;
}

.icon-checkbox {
  margin-left: 5px;
}

.tooltip-inner {
  color: $tooltip-text-secondary;
  background-color: $tooltip-bg;
  box-shadow: 2px 2px 2px $tooltip-text-secondary;
}

.tooltip {
  margin-left: -10px;
}

.grayBorder {
  border-color: $gray-card-accent;
  border-width: 3px;
}

.see-another-match {
  top: -45px;
  position: absolute;
  left: 0;
}

.partner-records {
  margin-right: 0;
  width: auto;
  max-width: none;
}

.record {
  min-width: 800px;
  margin-left: 15px;
  margin-right: 15px;
}

.fields-display-settings-btn {
  padding: 5px 10px;
  position: absolute;
  top: -43px;
  left: 100px;
  cursor: pointer;
  color: $gray-600;
  &:hover {
    color: $gray-900;
  }
}

.fields-display-settings-selector {
  width: 200px;
  position: absolute !important;
  top: -47px;
  left: 250px;
}

#root {
  width: max-content;
}
