@import '../../../app-variables';
@import '../../../bootstrap-variables';

.title {
  margin-top: 15px;
}

.blueBorder {
  border-color: $blue-card-text;
  border-width: 3px;
}

.grayBorder {
  border-color: $gray-card-accent;
  border-width: 3px;
}

.icon-conflicting {
  color: $blue-card-text;
}

.icon-excluded {
  color: $gray-card-accent;
}

.icon-text {
  margin-top: 8px;
  margin-left: -45px;
  position: relative;
}

.icon-textarea {
  margin-top: 8px;
  margin-left: -55px;
  position: relative;
}

.icon-checkbox {
  margin-left: 5px;
}

.tooltip-inner {
  color: $tooltip-text-secondary;
  background-color: $tooltip-bg;
  box-shadow: 2px 2px 2px $tooltip-text-secondary;
}

.tooltip {
  margin-left: -10px;
}

.half-rule {
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: $tooltip-text-secondary;
}

.suggested {
  color: $tooltip-text-primary;
  text-align: left;
}

.secondary {
  color: $tooltip-text-secondary;
  margin: 0;
}

.jumbotron {
  margin-top: 15px;
  padding: 0;
  background-color: transparent;
  border: 0;
}

.jumbotron-header {
  padding: 10px;
  margin: 0;
  background-color: $compare-header-bg;
  border: 1px $compare-border solid;
  border-bottom: 0;
}

.jumbotron-content {
  padding: 10px;
  margin: 0;
  background-color: $compare-content-bg;
  border: 1px $compare-border solid;
}

.jumbotron-header-title {
  color: rgb(109, 108, 108); //secondary
}

.jumbotron-header-text {
  margin: 0;
}

.review-title {
  margin-bottom: 0;
}

.collapseBtn {
  display: inline;
  cursor: pointer;
}

.expandBtn {
  margin-top: 15px;
  cursor: pointer;
}

.collapseIcon {
  display: inline;
  margin-right: 5px;
}

.copy-to-clipboard-icon {
  position: absolute;
  right: 32px;
  margin-top: 6px;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  color: $gray-card-accent;
  padding: 0 5px;
}

.url-link {
  position: absolute;
  left: 25px;
  margin-top: 6px;
  cursor: pointer;
  visibility: visible;
  color: $blue-card-text;
}

.url-icon {
  margin-right: 10px;
}

.input-field-container {
  &:hover {
    .copy-to-clipboard-icon {
      visibility: visible;
      opacity: 1;
    }
  }
}

.tooltip-clip-inner {
  color: white !important;
  background-color: $tooltip-dark-bg !important;
}

.tooltip-clip {
  top: 5px !important;
  .arrow::before {
    border-bottom-color: $tooltip-dark-bg !important;
  }
}

span[role='button'] {
  padding: 5px;
  cursor: pointer;
}

.text-blue {
  color: #158cba;
}

.back-to-top {
  div:first-child {
    margin-right: 10px;
    text-align: center;
    height: 100px;
    width: 100px;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &:hover {
      background-color: $transparent005;
    }
  }
}
