@import '../../app-variables';
@import '../../bootstrap-variables';

.activity-card-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.activity-row {
  margin-bottom: 15px;
}

.alert-link {
  &:hover {
    text-decoration: none !important;
    .activity-left-card-title {
      color: $blue-card-darker;
    }
  }
}

.activity-left-card {
  margin-bottom: 0px;
}

.activity-left-card-title {
  color: $blue-card-text;
  font-size: 18px;
  margin-bottom: 0;
}

.info-container {
  display: flex;
  justify-content: space-between;
}

.activity-right-card {
  background-color: $gray-card-bg;
}

.activity-right-card-title {
  color: $gray-card-accent;
  font-size: 14px;
}

.activity-right-card-info {
  color: $gray-card-accent;
}
