@import '../../app-variables';
@import '../../bootstrap-variables';

.hipster {
  display: inline-block;
  width: 100%;
  height: 497px;
  background: url('../../../static/images/logo.png') no-repeat center top;
  background-size: contain;
}

.searchBar {
  margin-bottom: 15px;
  margin-right: -50px;
}

.searchIcon {
  position: absolute;
  margin-top: 12px;
  margin-left: 10px;
  color: $gray-card-accent;
}

.searchClearIcon {
  color: $gray-card-accent;
}

.searchClearIconContainer {
  cursor: pointer;
  margin-top: 12px;
  z-index: 1;
}

.searchInput {
  padding-left: 35px;
}

.column-title {
  height: 30px;
}

.homepage-top-container {
  max-height: calc(50vh - 90px);
  width: 100%;
  height: auto;
  float: left;
  overflow: hidden;
  margin-bottom: 1px;

  .video-network-img {
    height: 50px;
    width: 50px;
  }

  .homepage-top-bg-img {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
  }

  .video-button {
    position: absolute;
    left: 100px;
    height: calc(50vh - 90px);
    top: 10px;
    padding: 40px;
  }
}

@media only screen and (max-width: 1199px) {
  .homepage-top-container {
    .video-button {
      height: auto;
      left: 0;
    }
  }
}

.homepage-bottom-container {
  max-height: calc(50vh - 90px);
  width: 100%;
  height: auto;
  float: left;
  overflow: hidden;
  margin-top: 1px;
  align-items: center;

  .homepage-bottom-bg-img {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
  }

  .welcome-container {
    position: absolute;
    left: 0;
    height: auto;
    padding: 40px;
  }
}

.users-icon {
  font-size: 40px;
}

.play-button-icon {
  color: $black;
}

.home-page-link {
  text-decoration: underline;
  font-weight: normal;
  color: inherit;
}

.video-modal {
  &.modal-dialog {
    margin: 0;
    background-color: transparent;
  }

  .modal-content {
    background-color: transparent;
    border: none;
    height: 100vh;
    width: 100vw;
  }

  .modal-header {
    border: none;
    button {
      color: $white;
      &:focus {
        outline: none;
      }
    }
  }

  .video {
    height: 80vh;
    width: 90vw;
    margin-left: 4vw;
    border: none;
  }
}

@media only screen and (max-width: 650px) {
  .homepage-top-container {
    background-color: $light-blue;
    max-height: unset;
    .video-button {
      position: relative;
      max-height: unset;
      top: 5px;
      height: fit-content;
      padding: 20px 40px;
    }
    .homepage-top-bg-img {
      display: none;
    }
  }
  .homepage-bottom-container {
    background-color: $light-grey;
    max-height: unset;
    .welcome-container {
      position: relative;
      max-height: unset;
      height: fit-content;
      padding: 20px 40px;
    }
    .homepage-bottom-bg-img {
      display: none;
    }
  }

  .video-modal {
    .video {
      margin-left: 1vw;
    }
  }
}

@media only screen and (max-height: 720px) {
  .homepage-top-container {
    max-height: unset;
    .video-button {
      max-height: unset;
    }
  }
  .homepage-bottom-container {
    max-height: unset;
    align-items: center;
    .welcome-container {
      max-height: unset;
      height: auto;
    }
  }
}
