/* ==========================================================================
Main page styles
========================================================================== */
.hipster {
  display: inline-block;
  width: 100%;
  height: 497px;
  background: url('../../../static/images/logo.png') no-repeat center top;
  background-size: contain;
}
