@import '../../../app-variables';
@import '../../../bootstrap-variables';

.same-record-question {
  text-align: center;
}

.same-record-question-buttons {
  display: flex;
  justify-content: space-around;
}

.same-record-question-container {
  padding: 20px;
  background-color: rgb(155, 176, 214);
  border-radius: $border-radius;
}

.from {
  color: $gray-card-accent;
  margin-bottom: 30px;
}

.another-match-container {
  margin: auto;
  display: flex;
  cursor: pointer;
  padding-top: 10px;
}

.another-match-text {
  margin-right: 5px;
  color: $gray-card-accent;
}

.another-match-icon {
  color: $gray-card-accent;
}
